In [1]:
from sklearn.tree import DecisionTreeRegressor 
import pandas as pd
from sklearn.cross_validation import KFold
import sklearn as sk
import numpy as np

input_file = 'GDP by country and year.csv'
target_file = 'life expectancy by country and year.csv'
HIV_file = 'HIV rates by country and year.csv'
Income_file = 'Income per capita by country and year.csv'
Internet_file = 'Internet user rates by country and year.csv'
Continent_file = 'Continent.csv'
health_data = 'health_data.csv'

In [2]:
input_df = pd.read_csv(input_file)
target_df = pd.read_csv(target_file)
HIV_df = pd.read_csv(HIV_file)
Income_df = pd.read_csv(Income_file)
Internet_df = pd.read_csv(Internet_file)
Continent_df = pd.read_csv(Continent_file)
health_df = pd.read_csv(health_data)
health_df = health_df.iloc[:-5, :]

In [5]:
# input_df
target_df.head()

,Country Name,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Aruba,65.988024,66.365537,66.713976,67.044293,67.369756,67.699000,68.034683,68.377146,68.728415,...,73.782902,73.865244,73.968561,74.090854,74.228073,74.376195,74.526756,74.675732,74.818146,74.953537
1,Afghanistan,32.777439,33.219902,33.657878,34.092878,34.525390,34.957415,35.389415,35.822415,36.260390,...,55.487537,55.857195,56.235293,56.626317,57.027244,57.432561,57.833829,58.225024,58.603683,58.970829
2,Angola,33.386220,33.787585,34.188463,34.590341,34.992220,35.395098,35.799976,36.205854,36.610244,...,45.973146,46.711732,47.393171,48.003512,48.538805,49.007049,49.435732,49.847390,50.251024,50.654171
3,Albania,63.273463,64.162854,64.887098,65.438195,65.827390,66.089317,66.287220,66.474951,66.681610,...,74.732561,75.154610,75.523293,75.831220,76.081610,76.286122,76.470293,76.652073,76.840366,77.036951
4,United Arab Emirates,53.286561,54.327000,55.363512,56.392585,57.405707,58.391854,59.340463,60.244049,61.098585,...,74.712878,74.968268,75.217220,75.457268,75.686390,75.904537,76.111171,76.307756,76.494780,76.675244

In [6]:
target_df.columns[1:] = range(1961, 2011)

TypeError: Index does not support mutable operations

In [126]:
target_df.iloc[:, 1:].interpolate(axis=1, limit_direction='both', method = 'spline', order = 1, limit = 10000, inplace = True)

In [136]:
copy.interpolate(axis=1, limit_direction='both', method = 'spline', order = 1, limit = 10000, inplace = True)

In [138]:
copy.iloc[21:24, :]

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
21,60.512780,61.074341,61.646049,62.224829,62.806122,63.385341,63.954390,64.507707,65.039195,65.546268,...,68.444122,68.544366,68.697122,68.884829,69.086366,69.279488,69.452000,69.594220,69.703073,69.782049
22,67.856162,68.099346,68.342530,68.585714,68.897805,69.072082,69.315266,69.558450,69.801634,70.290000,...,77.885366,78.087805,78.334146,78.485366,78.685366,78.887805,78.934146,79.236585,79.388439,79.288537
23,42.433439,42.757049,43.089146,43.430220,43.779780,44.137805,44.504805,44.879756,45.263683,45.655561,...,61.259195,61.828829,62.398976,62.968634,63.539780,64.114951,64.694122,65.273805,65.848000,66.407756

In [139]:
target_df.iloc[:, 1:] = copy.values

In [140]:
target_df

,Country Name,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Aruba,65.988024,66.365537,66.713976,67.044293,67.369756,67.699000,68.034683,68.377146,68.728415,...,73.782902,73.865244,73.968561,74.090854,74.228073,74.376195,74.526756,74.675732,74.818146,74.953537
1,Afghanistan,32.777439,33.219902,33.657878,34.092878,34.525390,34.957415,35.389415,35.822415,36.260390,...,55.487537,55.857195,56.235293,56.626317,57.027244,57.432561,57.833829,58.225024,58.603683,58.970829
2,Angola,33.386220,33.787585,34.188463,34.590341,34.992220,35.395098,35.799976,36.205854,36.610244,...,45.973146,46.711732,47.393171,48.003512,48.538805,49.007049,49.435732,49.847390,50.251024,50.654171
3,Albania,63.273463,64.162854,64.887098,65.438195,65.827390,66.089317,66.287220,66.474951,66.681610,...,74.732561,75.154610,75.523293,75.831220,76.081610,76.286122,76.470293,76.652073,76.840366,77.036951
4,United Arab Emirates,53.286561,54.327000,55.363512,56.392585,57.405707,58.391854,59.340463,60.244049,61.098585,...,74.712878,74.968268,75.217220,75.457268,75.686390,75.904537,76.111171,76.307756,76.494780,76.675244
5,Argentina,65.338512,65.432610,65.509390,65.582415,65.668683,65.782244,65.930024,66.113488,66.335098,...,73.960317,74.155780,74.341268,74.518780,74.687805,74.849902,75.009049,75.166268,75.324561,75.484976
6,Armenia,66.284390,66.709854,67.137854,67.565415,67.991537,68.414732,68.830488,69.229268,69.600049,...,71.755829,72.201610,72.609585,72.973756,73.287390,73.548268,73.764659,73.945000,74.095829,74.226341
7,Antigua and Barbuda,62.195415,62.598537,62.992585,63.378585,63.756073,64.125561,64.488073,64.842122,65.189195,...,73.607098,73.815439,74.021780,74.226146,74.425439,74.618146,74.803220,74.979171,75.147024,75.308780
8,Australia,70.973171,70.942439,70.911707,70.880976,70.850244,70.819512,70.869268,70.919024,70.968780,...,79.634146,79.936585,80.239024,80.490244,80.841463,81.041463,81.292683,81.395122,81.543902,81.695122
9,Austria,69.577317,69.309512,69.443659,69.921951,69.722195,70.045854,69.917805,70.057561,69.833171,...,78.575610,78.678049,78.631707,79.180488,79.331707,79.880488,80.180488,80.431707,80.331707,80.580488
10,Azerbaijan,61.239171,61.644585,62.052000,62.457415,62.861829,63.267268,63.668732,64.056707,64.418683,...,67.150293,67.561073,68.003683,68.470195,68.937268,69.375244,69.756512,70.063951,70.293683,70.451317
11,Burundi,41.545463,41.860390,42.177805,42.492220,42.790146,43.055073,43.280024,43.467976,43.627439,...,51.724829,51.928268,52.145317,52.396390,52.696951,53.053878,53.456073,53.891024,54.351220,54.829195
12,Belgium,70.520976,70.219512,70.051463,70.755122,70.625366,70.706341,71.012927,70.693171,70.764878,...,77.973171,78.075610,78.129268,78.878049,78.980488,79.380488,79.782927,79.680488,79.982927,80.182927
13,Benin,37.731195,38.189415,38.657341,39.136854,39.632732,40.148244,40.680829,41.228122,41.785756,...,55.466488,55.814317,56.208073,56.633171,57.065976,57.483390,57.867390,58.204512,58.491268,58.729707
14,Burkina Faso,34.938634,35.405878,35.879659,36.358951,36.837756,37.309049,37.768317,38.216537,38.657732,...,50.783220,51.340195,52.008073,52.767780,53.581317,54.403902,55.188805,55.902293,56.524976,57.051390
15,Bangladesh,46.457927,47.083976,47.692463,48.255439,48.689537,48.895415,48.838146,48.536707,48.051537,...,65.930171,66.478171,67.000146,67.497195,67.971854,68.425634,68.859976,69.277854,69.683780,70.080293
16,Bulgaria,70.195610,69.491951,70.309268,71.121220,71.293902,71.223415,70.413902,71.225122,70.430000,...,71.768293,71.865854,72.065854,72.563415,72.560976,72.612195,72.663415,72.963415,73.412195,73.512195
17,Bahrain,53.458512,54.818268,56.146585,57.425878,58.640073,59.783122,60.858000,61.869732,62.817293,...,74.781829,74.954073,75.117707,75.273220,75.422146,75.566463,75.707756,75.847512,75.987780,76.127561
18,"Bahamas, The",63.072512,63.408024,63.737049,64.059098,64.374683,64.683780,64.987390,65.285024,65.576683,...,72.545098,72.841268,73.127293,73.394659,73.638878,73.858463,74.059463,74.247439,74.423902,74.592390
19,Bosnia and Herzegovina,60.941585,61.567976,62.162341,62.733683,63.292000,63.844854,64.397293,64.949854,65.504488,...,74.500927,74.675585,74.824366,74.959488,75.093537,75.231439,75.371488,75.511976,75.657366,75.807683
20,Belarus,68.212659,68.635829,68.992073,69.289927,69.537415,69.734610,69.881659,69.982634,70.045146,...,68.507317,68.056098,68.553659,68.956098,68.851220,69.404878,70.203415,70.456098,70.407317,70.404878
21,Belize,60.512780,61.074341,61.646049,62.224829,62.806122,63.385341,63.954390,64.507707,65.039195,...,68.444122,68.544366,68.697122,68.884829,69.086366,69.279488,69.452000,69.594220,69.703073,69.782049
22,Bermuda,67.856162,68.099346,68.342530,68.585714,68.897805,69.072082,69.315266,69.558450,69.801634,...,77.885366,78.087805,78.334146,78.485366,78.685366,78.887805,78.934146,79.236585,79.388439,79.288537
23,Bolivia,42.433439,42.757049,43.089146,43.430220,43.779780,44.137805,44.504805,44.879756,45.263683,...,61.259195,61.828829,62.398976,62.968634,63.539780,64.114951,64.694122,65.273805,65.848000,66.407756
24,Brazil,54.718707,55.235659,55.751390,56.262951,56.767366,57.265683,57.757927,58.240683,58.708024,...,70.459610,70.845244,71.201878,71.532000,71.839634,72.131732,72.414829,72.695415,72.978024,73.264146
25,Barbados,61.215098,61.696171,62.182268,62.672878,63.161024,63.638634,64.098732,64.535268,64.945780,...,73.383927,73.546317,73.707171,73.868024,74.030341,74.193122,74.356415,74.519195,74.682488,74.845293
26,Brunei Darussalam,63.048951,63.575902,64.076195,64.548317,64.992293,65.412122,65.814390,66.205146,66.588415,...,75.483244,75.667683,75.846171,76.024122,76.213463,76.428122,76.675561,76.956756,77.268293,77.598268
27,Bhutan,32.731024,33.094146,33.452220,33.815756,34.200732,34.626659,35.107024,35.651341,36.263098,...,61.546634,62.435829,63.303000,64.136171,64.918439,65.637902,66.293098,66.885024,67.416659,67.892415
28,Botswana,50.907634,51.255024,51.593415,51.928756,52.272537,52.635707,53.028244,53.457634,53.927878,...,48.610317,49.243415,50.524512,52.356317,54.552220,56.873268,59.074561,60.958585,62.417098,63.402293
29,Central African Republic,36.895707,37.318780,37.760341,38.225366,38.725854,39.272756,39.868561,40.512756,41.202366,...,44.362073,44.253415,44.277805,44.439683,44.738098,45.163122,45.687390,46.284000,46.934976,47.625317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Seychelles,65.651751,65.806966,65.962181,66.117397,66.272612,66.427827,66.583043,66.738258,66.893473,...,71.860364,72.953659,71.029268,72.609756,72.131707,72.217073,73.192683,73.163415,73.034146,73.197561
173,Syrian Arab Republic,53.312561,53.867805,54.438976,55.030098,55.647171,56.298707,56.981732,57.692756,58.425829,...,73.017488,73.360634,73.731366,74.095683,74.363854,74.432415,74.246073,73.797244,73.120415,72.307439
174,Chad,38.273439,38.528854,38.785854,39.049878,39.333268,39.651390,40.011146,40.411976,40.847927,...,47.587122,47.616098,47.681854,47.795829,47.973902,48.230024,48.559220,48.951585,49.393171,49.862073
175,Togo,40.916488,41.555098,42.189171,42.819220,43.444707,44.068634,44.689463,45.308220,45.923415,...,53.526585,53.673244,53.887122,54.163220,54.507976,54.930756,55.433439,56.005902,56.630610,57.281561
176,Thailand,55.232732,55.745220,56.232390,56.694244,57.135780,57.566366,57.999829,58.445024,58.907415,...,70.849049,71.118244,71.433927,71.786463,72.157268,72.525732,72.874439,73.188439,73.461732,73.694366
177,Tajikistan,56.562610,56.974683,57.388756,57.801829,58.209415,58.608537,58.993171,59.360829,59.707512,...,64.074829,64.510902,65.002000,65.537024,66.097220,66.661805,67.207488,67.714585,68.170537,68.563390
178,Turkmenistan,54.871195,55.287195,55.705707,56.122732,56.535244,56.937268,57.325293,57.693805,58.039317,...,64.026098,64.137610,64.240390,64.337439,64.432366,64.531805,64.638829,64.756073,64.883537,65.021244
179,Timor-Leste,34.237561,34.739049,35.241537,35.743488,36.282902,36.904780,37.606610,38.345878,39.051512,...,60.290585,61.237634,62.207902,63.192976,64.156098,65.047854,65.824195,66.457829,66.946683,67.308390
180,Tonga,61.732707,62.097293,62.458756,62.815146,63.167976,63.518317,63.867244,64.212268,64.552902,...,70.898585,71.036683,71.175439,71.314439,71.453341,71.593707,71.737000,71.883195,72.031756,72.182610
181,Trinidad and Tobago,63.253756,63.760195,64.161390,64.455780,64.651756,64.770171,64.847927,64.918000,64.999878,...,68.648951,68.710439,68.784268,68.871829,68.979049,69.108341,69.259659,69.428927,69.610585,69.797561
182,Tunisia,42.645512,43.341683,44.100780,44.923854,45.814415,46.774951,47.800512,48.879122,49.997805,...,72.848780,73.000000,73.051220,73.302439,73.502439,73.900000,74.202439,74.302439,74.451220,74.602439
183,Turkey,46.104488,46.836707,47.574024,48.306317,49.023439,49.715732,50.383610,51.028512,51.651927,...,70.555805,71.081976,71.574195,72.029878,72.448122,72.828585,73.177073,73.500756,73.803220,74.090927
184,Tanzania,43.907293,44.162244,44.423707,44.697707,44.988732,45.296293,45.619366,45.955927,46.307976,...,51.280707,52.229805,53.284171,54.416244,55.604780,56.832000,58.077780,59.314707,60.509512,61.625610
185,Uganda,44.560024,45.147049,45.738122,46.321268,46.879488,47.394756,47.853537,48.245829,48.567585,...,47.404146,48.475585,49.587805,50.701244,51.770220,52.757049,53.654146,54.461976,55.182098,55.836659
186,Ukraine,68.763854,69.146098,69.457707,69.708220,69.905634,70.056537,70.161122,70.223073,70.247561,...,68.287073,68.275610,68.210732,68.185366,67.956829,68.077561,68.222195,68.251463,69.190000,70.265366
187,Uruguay,68.112780,68.296634,68.440927,68.543146,68.606805,68.635927,68.645512,68.651098,68.661707,...,74.896049,75.095561,75.284512,75.464415,75.634707,75.796415,75.951024,76.101073,76.248585,76.394610
188,United States,70.270732,70.119512,69.917073,70.165854,70.214634,70.212195,70.560976,69.951220,70.507317,...,76.836585,76.936585,77.036585,77.487805,77.487805,77.687805,77.987805,78.039024,78.390244,78.541463
189,Uzbekistan,59.297537,59.713024,60.130024,60.546537,60.957049,61.357585,61.744122,62.111171,62.456220,...,67.029268,67.108366,67.186610,67.265024,67.347049,67.435146,67.531220,67.634195,67.744561,67.861293
190,St. Vincent and the Grenadines,58.809683,59.839220,60.782390,61.621146,62.347463,62.969829,63.514756,64.004732,64.447195,...,70.629317,70.718146,70.849146,71.021293,71.228902,71.460220,71.699415,71.931732,72.150073,72.346390
191,"Venezuela, RB",59.862561,60.430317,60.985829,61.529073,62.062073,62.588805,63.111829,63.630244,64.141634,...,72.575610,72.775268,72.944561,73.086439,73.203317,73.301049,73.388902,73.476244,73.568000,73.671610
192,Virgin Islands (U.S.),64.101561,64.462561,64.828756,65.210122,65.611610,66.032585,66.462463,66.892707,67.320805,...,77.873171,78.024390,78.173171,78.724390,78.524390,78.624390,78.824390,78.924390,79.073171,79.173171
193,Vietnam,59.744195,60.410537,61.043024,61.607146,61.996780,62.087390,61.842049,61.293049,60.525683,...,73.369585,73.576561,73.772537,73.959024,74.138122,74.312366,74.483854,74.653098,74.822610,74.990366
194,Vanuatu,47.088098,47.688195,48.287293,48.886829,49.484780,50.083122,50.681829,51.280927,51.879902,...,67.934707,68.299951,68.651707,68.990000,69.317854,69.636756,69.948732,70.254756,70.555829,70.849951
195,West Bank and Gaza,62.760433,62.958747,63.157062,63.355377,63.553692,63.752007,63.950322,64.148637,64.346952,...,70.922268,71.069976,71.207537,71.339463,71.470878,71.605878,71.747049,71.894951,72.051098,72.214927
196,Samoa,50.469512,50.969512,51.469512,51.969512,52.469512,52.969512,53.469512,53.969512,54.469512,...,69.816610,70.128415,70.426268,70.714610,70.996927,71.278659,71.560780,71.844293,72.130683,72.417000
197,"Yemen, Rep.",34.473244,34.739561,35.186780,35.812878,36.593390,37.482317,38.420195,39.356585,40.268488,...,60.676683,60.888000,61.091829,61.292659,61.497927,61.717171,61.954805,62.211366,62.485341,62.768732
198,South Africa,49.429805,49.813293,50.195756,50.581756,50.971829,51.363024,51.749415,52.126000,52.493268,...,54.570805,53.441195,52.523756,51.873756,51.557341,51.613707,51.996512,52.636024,53.467098,54.390756
199,"Congo, Dem. Rep.",41.233537,41.451512,41.678000,41.918000,42.180488,42.472488,42.791976,43.133463,43.488951,...,50.629341,51.346805,52.106780,52.879268,53.638293,54.367829,55.064415,55.724000,56.337073,56.896146
200,Zambia,45.487512,45.853659,46.208732,46.557683,46.911512,47.283268,47.681463,48.106122,48.552756,...,44.272488,45.306659,46.538634,47.932390,49.429390,50.966610,52.477146,53.905634,55.214171,56.383854
201,Zimbabwe,51.914951,52.277902,52.629317,52.971659,53.304463,53.627707,53.945439,54.260146,54.576854,...,40.996805,40.679146,40.702488,41.059341,41.759610,42.810707,44.177756,45.804488,47.624659,49.574659

In [141]:
input_df.fillna(0.0, inplace=True)

In [143]:
input_df.head()

,Country Name,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Aruba,1.245086,7.814432,6.666622,1.154469,4.514062,-0.364696,-2.164459,0.465290,7.519472,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,8.444163,1.055556,11.175270,5.554138,13.740205,3.611368,21.020649,8.433290,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Angola,2.800000,7.900000,5.600000,0.400000,-0.300000,-1.200000,-6.900000,-24.700000,3.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Albania,5.745635,2.948597,1.104938,-1.251597,1.780644,5.637243,-0.787843,-1.420040,9.836549,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,United Arab Emirates,16.526856,21.439330,-1.589603,20.923573,23.874775,4.659177,-6.719316,-4.745821,4.016951,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [144]:
np.sum(input_df.isnull())

Country Name    0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
dtype: int64

In [145]:
target_data_long = pd.melt(target_df, id_vars=['Country Name'], var_name = 'Year', value_name='LifeExp')
input_data_long = pd.melt(input_df, id_vars=['Country Name'], var_name = 'Year', value_name='GDP')

In [146]:
target_data_long.head()

           Country Name  Year    LifeExp
0                 Aruba  1961  65.988024
1           Afghanistan  1961  32.777439
2                Angola  1961  33.386220
3               Albania  1961  63.273463
4  United Arab Emirates  1961  53.286561

In [147]:
target_data_long.tail()

           Country Name  Year    LifeExp
10095       Yemen, Rep.  2010  62.768732
10096      South Africa  2010  54.390756
10097  Congo, Dem. Rep.  2010  56.896146
10098            Zambia  2010  56.383854
10099          Zimbabwe  2010  49.574659

In [148]:
input_data_long.head()

           Country Name  Year        GDP
0                 Aruba  1961   1.245086
1           Afghanistan  1961   8.444163
2                Angola  1961   2.800000
3               Albania  1961   5.745635
4  United Arab Emirates  1961  16.526856

In [152]:
input_data_long.tail()

           Country Name  Year        GDP
10095       Yemen, Rep.  2010   0.000000
10096      South Africa  2010   3.039747
10097  Congo, Dem. Rep.  2010   7.078889
10098            Zambia  2010  10.298206
10099          Zimbabwe  2010  11.375921

In [153]:
np.sum(target_data_long.isnull())

Country Name    0
Year            0
LifeExp         0
dtype: int64

In [154]:
np.sum(input_data_long.isnull())

Country Name    0
Year            0
GDP             0
dtype: int64

In [105]:
X = input_data_long[['Country Name', 'Year', 'GDP']]
X.ix[:,'Year'] = pd.to_numeric(X.ix[:,'Year'])
Y = target_data_long[['LifeExp']]

In [106]:
X.head()

           Country Name  Year        GDP
0                 Aruba  1961   1.245086
1           Afghanistan  1961   8.444163
2                Angola  1961   2.800000
3               Albania  1961   5.745635
4  United Arab Emirates  1961  16.526856

In [107]:
X.dtypes

Country Name     object
Year              int64
GDP             float64
dtype: object

In [108]:
Y.head()

     LifeExp
0  65.988024
1  32.777439
2  33.386220
3  63.273463
4  53.286561

In [109]:
X = pd.get_dummies(X)

In [110]:
X.head()

,Year,GDP,Country Name_Afghanistan,Country Name_Albania,Country Name_Algeria,Country Name_Angola,Country Name_Antigua and Barbuda,Country Name_Argentina,Country Name_Armenia,Country Name_Aruba,...,Country Name_Uruguay,Country Name_Uzbekistan,Country Name_Vanuatu,"Country Name_Venezuela, RB",Country Name_Vietnam,Country Name_Virgin Islands (U.S.),Country Name_West Bank and Gaza,"Country Name_Yemen, Rep.",Country Name_Zambia,Country Name_Zimbabwe
0,1961,1.245086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,8.444163,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1961,2.800000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1961,5.745635,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1961,16.526856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Linear Regression

In [111]:
from sklearn import linear_model
linearRegression = linear_model.LinearRegression()

In [112]:
linearRegression.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [113]:
predictions = linearRegression.predict(X)

In [114]:
print "MSE is" , sk.metrics.mean_squared_error(Y, predictions)

MSE is 9.33927835238

### Decision Trees

In [115]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
X, Y)
tree = DecisionTreeRegressor(max_depth = 230, random_state=0)
tree.fit(X_train, y_train)
predicted_y = tree.predict(X_train)
predicted_y_test = tree.predict(X_test)
print("MSE on training set: {:.3f}".format(sk.metrics.mean_squared_error(y_train, predicted_y)))
print("MSE on test set: {:.3f}".format(sk.metrics.mean_squared_error(y_test, predicted_y_test)))
print("R^2 on training set: {:.3f}".format(tree.score(X_train, y_train))) 
print("R^2 on test set: {:.3f}".format(tree.score(X_test, y_test)))

MSE on training set: 0.000
MSE on test set: 9.052
R^2 on training set: 1.000
R^2 on test set: 0.930

In [116]:
depth_list = range(200,240)
MSE_list = []

In [117]:
kf = KFold(len(Y), n_folds=10, shuffle = True)

In [118]:
for depth in depth_list:
    
    MSE_depth_CV =[]

    for train_index, test_index in kf:
        X_train_CV, X_test_CV = X.iloc[train_index,:], X.iloc[test_index,:]
        Y_train_CV, Y_test_CV = Y.iloc[train_index,:], Y.iloc[test_index,:]
        regressor = DecisionTreeRegressor(max_depth = depth) 
        regressor.fit(X_train_CV, Y_train_CV) 
        predicted_y = regressor.predict(X_test_CV)
        MSE = sk.metrics.mean_squared_error(Y_test_CV, predicted_y)
        MSE_depth_CV.append(MSE)
    
    print depth, "k-fold CV is", np.mean(MSE_depth_CV)

200 k-fold CV is 5.02219418121
201 k-fold CV is 4.9896153985
202 k-fold CV is 4.97982459383
203 k-fold CV is 4.9425572696
204 k-fold CV is 4.98157109792
205 k-fold CV is 4.90759559797
206 k-fold CV is 4.96292484338
207 k-fold CV is 4.97110931343
208 k-fold CV is 4.99948358212
209 k-fold CV is 4.95426815716
210 k-fold CV is 4.97129427406
211 k-fold CV is 4.92941253929
212 k-fold CV is 4.95527040572
213 k-fold CV is 4.94857114602
214 k-fold CV is 5.01951552862
215 k-fold CV is 4.93895000939
216 k-fold CV is 4.96845289681
217 k-fold CV is 4.99948278357
218 k-fold CV is 5.01802138704
219 k-fold CV is 4.95279391801
220 k-fold CV is 4.96584508872
221 k-fold CV is 4.95176764498
222 k-fold CV is 4.97411780814
223 k-fold CV is 4.98844886538
224 k-fold CV is 5.01498569965
225 k-fold CV is 5.00535289673
226 k-fold CV is 4.97889788729
227 k-fold CV is 4.9893457191
228 k-fold CV is 5.01774946152
229 k-fold CV is 4.96748485494
230 k-fold CV is 4.96624278261
231 k-fold CV is 4.96720360985
232 k-fold CV is 5.03690675797
233 k-fold CV is 4.99890602183
234 k-fold CV is 5.01031769547
235 k-fold CV is 5.02733308028
236 k-fold CV is 4.93988812917
237 k-fold CV is 5.00307959641
238 k-fold CV is 4.95446825452
239 k-fold CV is 5.00181327691

In [120]:
regressor = DecisionTreeRegressor(max_depth = 230) 
regressor.fit(X, Y) 
predicted_y = regressor.predict(X)
MSE = sk.metrics.mean_squared_error(Y, predicted_y)

print "MSE is", MSE

MSE is 6.95831034634e-11

### Random Forests

In [129]:
from sklearn.ensemble import RandomForestRegressor

X_train, X_test, y_train, y_test = train_test_split(X, Y)
forest = RandomForestRegressor()

forest.fit(X_train, y_train.values.ravel())

predicted_y = forest.predict(X_train)
predicted_y_test = forest.predict(X_test)
print("MSE on training set: {:.3f}".format(sk.metrics.mean_squared_error(y_train, predicted_y)))
print("MSE on test set: {:.3f}".format(sk.metrics.mean_squared_error(y_test, predicted_y_test)))

print("R^2 on training set: {:.3f}".format(forest.score(X_train, y_train))) 
print("R^2 on test set: {:.3f}".format(forest.score(X_test, y_test)))

MSE on training set: 1.292
MSE on test set: 6.148
R^2 on training set: 0.990
R^2 on test set: 0.953

In [131]:
regressor = RandomForestRegressor() 
regressor.fit(X, Y.values.ravel()) 
predicted_y = regressor.predict(X)
MSE = sk.metrics.mean_squared_error(Y, predicted_y)

print "MSE is", MSE

MSE is 0.750381423294

### Gradient Boosting Machines

In [134]:
from sklearn.ensemble import GradientBoostingRegressor
X_train, X_test, y_train, y_test = train_test_split(
        X,Y)
gbrt = GradientBoostingRegressor(max_depth=40)
gbrt.fit(X_train, y_train.values.ravel())

predicted_y = gbrt.predict(X_train)
predicted_y_test = gbrt.predict(X_test)
print("MSE on training set: {:.3f}".format(sk.metrics.mean_squared_error(y_train, predicted_y)))
print("MSE on test set: {:.3f}".format(sk.metrics.mean_squared_error(y_test, predicted_y_test)))

MSE on training set: 0.445
MSE on test set: 2.341

In [80]:
?GradientBoostingClassifier

Object `GradientBoostingClassifier` not found.

In [133]:
regressor = GradientBoostingRegressor(max_depth=40)
regressor.fit(X, Y.values.ravel()) 
predicted_y = regressor.predict(X)
MSE = sk.metrics.mean_squared_error(Y, predicted_y)

print "MSE is", MSE

MSE is 0.501919205554

### Neural Networks

In [82]:
# from sklearn.preprocessing import StandardScaler
# from sklearn.neural_network import MLPRegressor
# scaler = StandardScaler()

# X_scaled = scaler.fit_transform(X)

ImportError: cannot import name MLPRegressor

In [ ]:
# mlp = MLPReg(max_iter=1000, random_state=0)
# mlp.fit(X_train_scaled, y_train)
# print("Accuracy on training set: {:.3f}".format( mlp.score(X_train_scaled, y_train)))
# print("Accuracy on test set: {:.3f}".format(mlp.score(X_test_scaled, y_test)))

In [ ]:
# X = input_data_long[['Year', 'GDP']]
# Y = target_data_long[['LifeExp']]

In [323]:
# X = pd.get_dummies(X)
# X.ix[:,'Year'] = pd.to_numeric(X.ix[:,'Year']).values

In [325]:
# X.head()

   Year        GDP
0  1961   1.245086
1  1961   8.444163
2  1961   2.800000
3  1961   5.745635
4  1961  16.526856

In [326]:
# X.dtypes

Year      int64
GDP     float64
dtype: object

In [327]:
# linearRegression.fit(X,Y)
# predictions = linearRegression.predict(X)
# print "MSE is" , sk.metrics.mean_squared_error(Y, predictions)

MSE is 112.200475408

In [328]:
# print linearRegression.coef_

[[ 0.28348918 -0.05335729]]

In [491]:
# print("scikit-learn version: {}".format(sk.__version__))

scikit-learn version: 0.17.1

### AdaBoost Regressor

     LifeExp
0  65.988024
1  32.777439
2  33.386220
3  63.273463
4  53.286561

In [141]:
from sklearn.ensemble import AdaBoostRegressor
rate = [0.1]    # Learning rate; default is 1.0

for r in rate:
        regressor = AdaBoostRegressor() 
        regressor.fit(X, Y.values.ravel())
        predictions = regressor.predict(X)
        print "MSE with learning rate, %s is" % (r) , sk.metrics.mean_squared_error(Y, predictions) 
        print predictions
        print Y

MSE with learning rate, 0.1 is 116.370505845
[ 55.92313653  55.7170374   55.83168702 ...,  66.14306474  66.14306474
  63.35901665]
         LifeExp
0      65.988024
1      32.777439
2      33.386220
3      63.273463
4      53.286561
5      65.338512
6      66.284390
7      62.195415
8      70.973171
9      69.577317
10     61.239171
11     41.545463
12     70.520976
13     37.731195
14     34.938634
15     46.457927
16     70.195610
17     53.458512
18     63.072512
19     60.941585
20     68.212659
21     60.512780
22     68.897805
23     42.433439
24     54.718707
25     61.215098
26     63.048951
27     32.731024
28     50.907634
29     36.895707
...          ...
10070  73.197561
10071  72.307439
10072  49.862073
10073  57.281561
10074  73.694366
10075  68.563390
10076  65.021244
10077  67.308390
10078  72.182610
10079  69.797561
10080  74.602439
10081  74.090927
10082  61.625610
10083  55.836659
10084  70.265366
10085  76.394610
10086  78.541463
10087  67.861293
10088  72.346390
10089  73.671610
10090  79.173171
10091  74.990366
10092  70.849951
10093  72.214927
10094  72.417000
10095  62.768732
10096  54.390756
10097  56.896146
10098  56.383854
10099  49.574659

[10100 rows x 1 columns]

In [152]:
regressor = RandomForestRegressor() 
regressor.fit(X, Y.values.ravel()) 
predictions = regressor.predict(X)
MSE = sk.metrics.mean_squared_error(Y, predictions)

print "MSE is", MSE

MSE is 0.756749663491

In [37]:
X.head()

,Year,GDP,Country Name_Afghanistan,Country Name_Albania,Country Name_Algeria,Country Name_Angola,Country Name_Antigua and Barbuda,Country Name_Argentina,Country Name_Armenia,Country Name_Aruba,...,Country Name_Uruguay,Country Name_Uzbekistan,Country Name_Vanuatu,"Country Name_Venezuela, RB",Country Name_Vietnam,Country Name_Virgin Islands (U.S.),Country Name_West Bank and Gaza,"Country Name_Yemen, Rep.",Country Name_Zambia,Country Name_Zimbabwe
0,1961,1.245086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,8.444163,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1961,2.800000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1961,5.745635,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1961,16.526856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
X_train = df.iloc[:,0:280]
X_test = test_df.iloc[:,0:280]

In [5]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
Y_train = df.iloc[:,280:281]
Y_test = test_df.iloc[:,280]

In [7]:
depth = 5
regressor = DecisionTreeRegressor(max_depth=depth) 
regressor.fit(X_train, Y_train) 
predicted_y = regressor.predict(X_test)

In [8]:
sk.metrics.mean_squared_error(Y_test, predicted_y)

669.66569160245422

In [9]:
depth_list = range(1,20)
MSE_list = []

In [32]:
kf = KFold(len(Y_train), n_folds=10, shuffle = True)

In [27]:
print len(X_train), len(Y_train)

52397 52397

In [33]:
for depth in depth_list:
    
    MSE_depth_CV =[]

    for train_index, test_index in kf:
        X_train_CV, X_test_CV = X_train.iloc[train_index,:], X_train.iloc[test_index,:]
        Y_train_CV, Y_test_CV = Y_train.iloc[train_index,:], Y_train.iloc[test_index,:]
        regressor = DecisionTreeRegressor(max_depth=depth) 
        regressor.fit(X_train_CV, Y_train_CV) 
        predicted_y = regressor.predict(X_test_CV)
        MSE = sk.metrics.mean_squared_error(Y_test_CV, predicted_y)
        MSE_depth_CV.append(MSE)
    
    print depth, "k-fold CV is", np.mean(MSE_depth_CV)

1 k-fold CV is 1094.48596811
2 k-fold CV is 816.360036677
3 k-fold CV is 723.863492028
4 k-fold CV is 694.557312437
5 k-fold CV is 722.944608945
6 k-fold CV is 751.824008538
7 k-fold CV is 770.717029321
8 k-fold CV is 846.656690323
9 k-fold CV is 905.152489712
10 k-fold CV is 966.206092789
11 k-fold CV is 1030.32243944
12 k-fold CV is 1053.06401763
13 k-fold CV is 1099.489705
14 k-fold CV is 1081.98415069
15 k-fold CV is 1121.63768719
16 k-fold CV is 1090.79088817
17 k-fold CV is 1090.04682546
18 k-fold CV is 1082.8004027
19 k-fold CV is 1119.92789668

In [16]:
from StringIO import StringIO
import pydotplus 

my_tree = DecisionTreeRegressor(max_depth=5).fit(X_train_CV, Y_train_CV)
dotfile = StringIO()
sk.tree.export_graphviz(my_tree, out_file=dotfile)
graph = pydotplus.graph_from_dot_data(dotfile.getvalue())
graph.write_pdf("tree.pdf")

True

In [20]:
from IPython.display import IFrame
IFrame("tree.pdf", width=600, height=300)

# Compare to Linear Regression

In [31]:
from sklearn import linear_model

my_tree = DecisionTreeRegressor(max_depth=5).fit(X_train, Y_train)

algo = linear_model.LinearRegression()
algo.fit (X_train, Y_train)
predictions_LR = algo.predict(X_test)
predictions_DT = my_tree.predict(X_test)

MSE_LR = sk.metrics.mean_squared_error(Y_test, predictions_LR)
MSE_DT = sk.metrics.mean_squared_error(Y_test, predictions_DT)

print "MSE on the testing set using Linear Regression is ", MSE_LR
print "MSE on the testing set using the Decision Tree is ", MSE_DT

MSE on the testing set using Linear Regression is  1632.13874612
MSE on the testing set using the Decision Tree is  669.665691602

In [42]:
ridge = linear_model.Ridge (alpha = 0.1)
lasso = linear_model.Lasso(alpha = 0.1)

for model in [ridge, lasso]:
    model.fit(X_train, Y_train)
    predictions = model.predict(X_test)
    
    print "MSE on the testing set using %s is " % (model) , sk.metrics.mean_squared_error(Y_test, predictions)

MSE on the testing set using Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001) is  1631.67077
MSE on the testing set using Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False) is  1644.88424921